<html>
    <head> 
        <title>网易七鱼 - 登录</title> 
        <meta charset="utf-8" /> 
        <meta http-equiv="X-UA-Compatible" content="IE=9" /> 
        <meta name="renderer" content="webkit" /> 
        {/*加载样式*/}
        <link href="/static/login/css/login.css" rel="stylesheet" type="text/css" />
    </head> 
    <body class="g-flex"> 
        <div class="u-toptip j-toptip a-fadeinT">
            <i class="icon-error"></i>登录失败，请稍后再试
        </div> 
        <div class="j-loginbox g-mn"> 
            <div class="logo"> 
                <img src="/static/login/img/logo.png" /> 
            </div> 
            <div class="m-login"> 
                <form id="loginForm" data-focus-mode="0" autocomplete="off"> 
                    <span class="z-tip j-tip f-dn"></span> 
                    <div class="iptbox"> 
                        <input class="ipt" type="text" name="username" maxlength="50" value="{$username}" placeholder="帐号" /> 
                    </div> 
                    <div class="iptbox"> 
                        <input class="ipt f-ime-dis" type="password" name="password" maxlength="50"value="{$password}" placeholder="密码" /> 
                        <i class="u-icon-caps f-dn j-ticon"></i> 
                    </div> 
                    <div class="aboutpwd"> 
                        <div class="autologin"> 
                            <label><input name="autoLogin" type="checkbox"  {$autologin}/>记住密码</label> 
                        </div> 
                        <div class="m-tooltip j-fgpwd"> 
                            <a href="#" class="forgetpwd">忘记密码</a> 
                            <div class="u-tooltip u-tooltip-up"> 
                                <div class="tooltip_arrow"> 
                                </div> 
                                <div class="tooltip_inner">
                                    忘记密码请联系企业超级管理员重置密码
                                    <br />超级管理员忘记密码可尝试
                                    <a class="link" onclick="ysf.open();return false;" href="#">联系客服</a>，或拨打网易七鱼服务热线
                                    <span class="tel">4009-000-163</span> 
                                </div> 
                            </div> 
                        </div> 
                    </div> 
                    <div  class="login u-btn z-disabled" disabled="disabled"><span class="j-submitBtn">登录</span></div> 
                </form> 
            </div> 
        </div> 
        <div class="m-modal m-modal-confirm j-modal f-dn" id="j-modal"> 
            <div class="modal_dialog"> 
                <div class="modal_bd">
                    你的帐号已被删除，如有疑问请联系管理员
                </div> 
                <div class="modal_ft"> 
                    <button class="u-btn ok j-okbtn">确定</button> 
                </div> 
            </div> 
        </div> 
        <p>
            {$Request.domain}
        </p>
    {/*jquery包*/}
    <script type="text/javascript" src="/static/common/js/jquery-3.3.1.min.js"></script>
    {/*登录操作文件*/}
    <script>
        var url = "{$Request.domain}/{$Request.module}/{$Request.controller}/login";
        var domain_url = "{$Request.domain}"
    </script>
    <script type="text/javascript" src="/static/login/js/login.js"></script>
    {/*特效文件*/}
    <script type="text/javascript" src="/static/login/js/css.js"></script>
 </body>
</html>
