<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=9" >
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width">
        <title>管理系统 - 探索网易七鱼</title>
        <!-- <meta name="description" content="管理系统 探索网易七鱼页面"/> -->
        <!-- <meta name="keywords" content="管理系统 探索网易七鱼页面"/> -->
        <link rel="stylesheet" href="__COMMON_CSS__/common.css"/>
        <style type="text/css">
::-webkit-scrollbar {
    width: 7px;
    height:7px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #dddfe0;
}
::-webkit-scrollbar-track {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}
        </style>
        <script>
            //阻止默认的拖拽行为
            window.addEventListener("dragover",function(e){
                e = e || event;
                e.preventDefault();
            },false);
window.addEventListener("drop",function(e){
    e = e || event;
    e.preventDefault();
},false);
        </script>
    </head>
    <body class="g-flex">
        <nav class="g-nav" id="j-nav-narrow">
            <script>
                (function(){
                    //用户名toggle
                    window.userState = {
                        toggle:function(event) {
                            var node = document.getElementById('user-info'),
                                classNames = node.className;
                            if(classNames.indexOf('j-toggle') !== -1) node.className = "f-ib info";//关闭用户信息面板
                            else {
                                node.className = "f-ib info j-toggle";//打开用户信息，关闭呼叫和客服在线面板
                                //关闭呼叫面板
                                var callNode = document.getElementById('call-panel');
                                if(callNode) callNode.className = callNode.className.replace('open','close');
                                //关闭客服在线面板
                                var statusNode = document.getElementById('kefu-status');
                                if(statusNode) statusNode.className = statusNode.className.replace('j-toggle','');
                                //联系客服面板收起
                                var contactKefuNode = document.getElementById('contact_kefu');
                                if (contactKefuNode) contactKefuNode.className = contactKefuNode.className.replace('j-toggle','');
                                //下载中心面板收起
                                window.__downloadCenter && window.__downloadCenter.hideDownLoadTipView();
                            }
                            if(!event.target.href) event.stopPropagation();//当有链接时，不阻止事件冒泡
                        },
                        contactKefuToggle: function(event) {
                            var contactKefuNode = document.getElementById('contact_kefu'),
                                contactKefuClassName = contactKefuNode.className;
                            if (contactKefuClassName.indexOf('j-toggle') !== -1) {
                                //联系客服面板收起
                                contactKefuNode.className = "f-ib contact_kefu";
                            } else {
                                //联系客服面板打开
                                contactKefuNode.className = "f-ib contact_kefu j-toggle";
                                //关闭呼叫面板
                                var callNode = document.getElementById('call-panel');
                                if(callNode) callNode.className = callNode.className.replace('open','close');
                                //关闭客服在线面板
                                var statusNode = document.getElementById('kefu-status');
                                if(statusNode) statusNode.className = statusNode.className.replace('j-toggle','');
                                //关闭用户信息面板
                                var userInfoNode = document.getElementById('user-info');
                                if (userInfoNode) userInfoNode.className = userInfoNode.className.replace('j-toggle','');
                                //下载中心面板收起
                                window.__downloadCenter && window.__downloadCenter.hideDownLoadTipView();
                            }
                            if(!event.target.href) event.stopPropagation();//当有链接时，不阻止事件冒泡
                        },
                        downloadCenterToggle: function(event) {
                            //关闭联系客服面板
                            var contactKefuNode = document.getElementById('contact_kefu');
                            if (contactKefuNode) contactKefuNode.className = contactKefuNode.className.replace('j-toggle','');
                            //关闭用户信息面板
                            var userInfoNode = document.getElementById('user-info');
                            if (userInfoNode) userInfoNode.className = userInfoNode.className.replace('j-toggle','');
                            var downloadCenterNode = document.getElementById('m-header-download'),
                                classNames = downloadCenterNode.className;
                            if(classNames && classNames.indexOf('j-toggle') !== -1) {
                                //关闭下载中心面板
                                window.__downloadCenter && window.__downloadCenter.hideDownLoadTipView();
                            } else {
                                //打卡下载中心面板
                                window.__downloadCenter && window.__downloadCenter.showDownLoadTipView();
                            }
                            if(!event.target.href) event.stopPropagation();//当有链接时，不阻止事件冒泡
                        },
                        init:function() {
                            var that = this;
                            setTimeout(function(){
                                var node = document.getElementById('user-info');
                                node.addEventListener('click', that.toggle);
                                var contactKefuNode = document.getElementById('contact_kefu');
                                contactKefuNode.addEventListener('click', that.contactKefuToggle);
                                var downloadCenterNode = document.getElementById('m-header-download');
                                downloadCenterNode.addEventListener('click', that.downloadCenterToggle);
                                //点击其他空白区域隐藏
                                document.addEventListener('click',function() {
                                    node.className = "f-ib info";
                                    //联系客服面板收起
                                    contactKefuNode.className = "f-ib contact_kefu";
                                });
                            }, 500);
                        }
                    };
                    window.userState.init();
                    // 导航状态
                    window.navState = {
                        navIndex : -1,
                        toggle : function(event){
                            var node = document.getElementById('j-nav-narrow'),
                                body = document.body,
                                classNames = node.className,
                                storage = window.localStorage;
                            if(classNames.indexOf('g-nav-narrow') > -1){
                                node.className = 'g-nav';
                                body.className = 'g-flex';
                                storage.setItem('nav-state', 0);
                            }else{
                                node.className = 'g-nav g-nav-narrow';
                                body.className = 'g-flex g-flex-narrow';
                                storage.setItem('nav-state', 1);
                            }
                            setTimeout(function(){
                                window.dispatchEvent(new Event('resize'));
                            },200)
                        },
                        // 初始化预填
                        init: function(){
                            var node = document.getElementById('j-nav-narrow'),
                                body = document.body,
                                that = this,
                                storage = window.localStorage;
                            if(storage.getItem('nav-state') === null){
                                storage.setItem('nav-state',0);
                            }
                            if(storage.getItem('nav-state') != 0){
                                node.className = 'g-nav g-nav-narrow';
                                body.className = 'g-flex g-flex-narrow';
                            }else{
                                body.className = 'g-flex';
                                node.className = 'g-nav';
                            }
                            // 当前一级菜单项,记入localstrage
                            if(navState.navIndex != storage.getItem('navIndex')){
                                for(var i=storage.length-1;i>=0;i--){
                                    var name = storage.key(i);
                                    if(/^z-open-\d+$/.test(name)){
                                        storage.removeItem(name);
                                    }
                                }
                                storage.setItem('navIndex',navState.navIndex);
                            }
                            setTimeout(function(){
                                var node = document.getElementById('j-nav-narrow-set');
                                node.addEventListener('click', that.toggle);
                            }, 500);
                        }
                    };
                    window.navState.init();
                })()
            </script>
            <div class="m-logo">
                <i class="logo"></i>
            </div>
            <ul class="m-nav" id="boss-navigator">
                <li class=" home" id="nav-home" data-action="redirect" data-href="/admin/" data-log="ad-nv-hm" data-sensorsheatmap="trackHeatMap">
                    <div class="u-toast-nav">
                        <a class="bd">主页</a>
                    </div>
                    <a href="/index/"><i class="u-icon u-icon-home"></i>主页</a>
                </li>
                <li class=" report" id="nav-report" data-action="redirect" data-href="/admin/report/" data-log="ad-nv-rp" data-sensorsheatmap="trackHeatMap">
                    <div class="u-toast-nav">
                        <a class="bd">工作报表</a>
                    </div>
                    <a href="/admin/report/"><i class="u-icon u-icon-report"></i>工作报表</a>
                </li>
                <li class=" session" id="nav-session" data-action="redirect" data-href="/admin/session/" data-log="ad-nv-hs" data-sensorsheatmap="trackHeatMap">
                    <div class="u-toast-nav">
                        <a class="bd">历史会话</a>
                    </div>
                    <a href="/admin/session/"><i class="u-icon u-icon-session"></i>历史会话</a>
                </li>
                <li class=" quality" id="nav-quality" data-action="redirect" data-href="/quality/session/check/" data-log="ad-nv-qa" data-sensorsheatmap="trackHeatMap">
                    <div class="u-toast-nav">
                        <a class="bd">质量检测</a>
                    </div>
                    <a href="/quality/session/check/"><i class="u-icon u-icon-quality"></i>质量检测</a>
                </li>
                <li class=" sheet" id="nav-sheet" data-action="redirect" data-href="/worksheet/admin/" data-log="ad-nv-wk" data-sensorsheatmap="trackHeatMap">
                    <div class="u-toast-nav">
                        <a class="bd">工单中心</a>
                    </div>
                    <a href="/worksheet/admin/"><i class="u-icon u-icon-sheet"></i>工单中心</a>
                </li>
                <li class=" kefu" id="nav-kefu" data-action="redirect" data-href="/admin/kefu/" data-log="ad-nv-kf" data-sensorsheatmap="trackHeatMap">
                    <div class="u-toast-nav">
                        <a class="bd">客服管理</a>
                    </div>
                    <a href="/admin/kefu/"><i class="u-icon u-icon-kefu"></i>客服管理</a>
                </li>
                <li class=" book" id="nav-book" data-action="redirect" data-href="/robot/admin/" data-log="ad-nv-rt" data-sensorsheatmap="trackHeatMap">
                    <div class="u-toast-nav">
                        <a class="bd">知识库</a>
                    </div>
                    <a href="/robot/admin/"><i class="u-icon-font icon-book"></i>知识库</a>
                </li>
                <li class=" voice-big" id="nav-voice-big" data-action="redirect" data-href="/admin/outbox/" data-log="ad-nv-qa" data-sensorsheatmap="trackHeatMap">
                    <div class="u-toast-nav">
                        <a class="bd">公告</a>
                    </div>
                    <a href="/admin/outbox/"><i class="u-icon-font icon-voice-big"></i>公告</a>
                </li>
                <li class=" qiye" id="nav-qiye" data-action="redirect" data-href="/admin/company/" data-log="ad-nv-cp" data-sensorsheatmap="trackHeatMap">
                    <div class="u-toast-nav">
                        <a class="bd">企业帐户管理</a>
                    </div>
                    <a href="/admin/company/"><i class="u-icon u-icon-qiye"></i>企业帐户管理</a>
                </li>
                <li class=" setting" id="nav-setting" data-action="redirect" data-href="/admin/setting/" data-log="ad-nv-st" data-sensorsheatmap="trackHeatMap">
                    <div class="u-toast-nav">
                        <a class="bd">设置</a>
                    </div>
                    <a href="/admin/setting/"><i class="u-icon u-icon-setting"></i>设置</a>
                </li>
                <li class=" callcenter" id="nav-callcenter" data-action="redirect" data-href="/callcenter/" data-log="ad-nv-hs" data-sensorsheatmap="trackHeatMap">
                    <div class="u-toast-nav">
                        <a class="bd">呼叫中心</a>
                    </div>
                    <a href="/callcenter/"><i class="u-icon u-icon-callcenter"></i>呼叫中心</a>
                </li>
            </ul>
        </nav>
        <div class="g-container">
            <header class="g-header" id="boss-header">
                <div class="u-narrow" id="j-nav-narrow-set">
                    <i class="u-icon u-icon-narrow"></i>
                </div>
                <i class="icon-slider" style="display: none"></i>
                <div class="m-slider-announce">
                    <ul class="m-slider-ul">
                    </ul>
                </div>
                <ul class="m-state">
                    <li class="f-ib guide" id="qiyuGuide" data-log="ad-sr-qy0" data-sensorsheatmap="trackHeatMap">
                        <a href="/admin/guide/"><i class="u-icon-guide"></i>探索网易七鱼</a>
                    </li>
                    <li class="f-ib contact_kefu" id="contact_kefu" data-sensorsheatmap="trackHeatMap">
                        <i class="u-icon-font icon-contact-us"></i>
                        <span>联系客服</span>
                        <i class="u-icon u-icon-down"></i>
                        <ul class="m-smenu">
                            <li id="concatUsBoss" data-sensorsheatmap="trackHeatMap">
                                <a>
                                    <i class="u-icon-font icon-contact-us"></i>
                                    联系七鱼客服
                                </a>
                            </li>
                            <li id="qiyuHelpCenter" data-sensorsheatmap="trackHeatMap">
                                <a class="state__help" href="http://help.qiyukf.com/" target="_blank" id="state__help">
                                    <i class="u-icon-font icon-circle-question-revert"></i>
                                    七鱼帮助中心
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="f-ib m-header-download" id="m-header-download" data-sensorsheatmap="trackHeatMap"><a><i class='u-icon-font icon-download-center'></i>下载中心</a></li>
                    <li class="f-ib m-header-mailtips" id="m_header_mailtips" data-sensorsheatmap="trackHeatMap"><a><i class='u-icon-font icon-voice-big'></i>消息中心</a></li>
                    <li class="f-ib info" id="user-info" data-sensorsheatmap="trackHeatMap">
                        <span id="header-username-show">超级管理员</span>
                        <i class="u-icon u-icon-down"></i>
                        <ul class="m-smenu">
                            <li id="change2Kefu" data-sensorsheatmap="trackHeatMap">
                                <a href="/chat/" id="j-switch_btn">
                                    切换为客服模式
                                </a>
                            </li>
                            <li id="change2InfoSetting" data-sensorsheatmap="trackHeatMap">
                                <a href="/admin/setting/" data-action="redirect" data-href="/admin/setting/">
                                    个人信息设置
                                </a>
                            </li>
                            <li id="change2Manage" data-sensorsheatmap="trackHeatMap">
                                <a href="/admin/company/">
                                    企业帐户管理
                                </a>
                            </li>
                            <li id="change2Logout" data-sensorsheatmap="trackHeatMap">
                                <a href="/login/logout/index" data-action="leave" id="j-logout">
                                    退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </header>
            <main class="g-main g-main-boss" id="boss-module">
                {block name="body"}
                {/block}
            </main>
        </div>
        {/*加载特效jq库*/}
        <script type="text/javascript" src="__COMMON_JS__/jquery-3.3.1.min.js"></script>
        {/*加载特效js文件*/}
        <script type="text/javascript" src="__COMMON_JS__/css.js"></script>
    </body>
</html>
