{extend name="../../common/view/laout/index"}
{block name="body"}
<div class="g-mnc g-mnc-guide">
    <div class="m-guidetlt">
        <h3>探索网易七鱼</h3>
        <p class="title">在这里，网易七鱼将帮助你完善客服管理，打造全新服务体系</p>
    </div>
    <div class="m-guide">
        <div class="wrap-type">
            <div class="target">
                <div class="description">
                    <h4>帮助与支持</h4>
                    <p>解决在接入和使用中遇到的问题</p>
                </div>
                <div class="list">
                    <ul>
                        <li data-log="ad-sr-qy1" data-log-label="0">
                            <a href='https://ysf.nosdn.127.net/七鱼产品手册3.12.pdf?download=七鱼产品手册3.12.pdf' target="_blank" class="sysm">
                                <i></i>
                                <p>使用说明</p>
                            </a>
                        </li>
                        <li data-log="ad-sr-qy1" data-log-label="1" class="">
                            <a href="https://qiyukf.com/guide" target="_blank" class="kfzn">
                                <i></i>
                                <p>开发指南</p>
                            </a>
                        </li>
                        <li data-log="ad-sr-qy1" data-log-label="2" class="">
                            <a href="https://qiyukf.com/newdoc/html/mobiledemo.html" target="_blank" class="ydd">
                                <i></i>
                                <p>移动端Demo</p>
                            </a>
                        </li>
                        <li data-log="ad-sr-qy1" data-log-label="3">
                            <a href="#" onclick="ysf.open();return false;" class="lxwm">
                                <i></i>
                                <p>联系我们</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrap-type ">
            <div class="target">
                <div class="description">
                    <h4>渠道接入</h4>
                    <p>设置渠道接入，通过网易七鱼开始与 你的客户交流</p>
                </div>
                <div class="list">
                    <ul>
                        <li data-log="ad-sr-qy1" data-log-label="4" class="">
                            <a href="/admin/setting/pc" class="wzjr">
                                <i></i>
                                <p>网站接入</p>
                            </a>
                        </li>
                        <li data-log="ad-sr-qy1" data-log-label="5" class="">
                            <a href="/admin/setting/app" class="appjr">
                                <i></i>
                                <p>App接入</p>
                            </a>
                        </li>
                        <li data-log="ad-sr-qy1" data-log-label="6">
                            <a href="/admin/setting/wx" class="wxjr">
                                <i></i>
                                <p>微信接入</p>
                            </a>
                        </li>
                        <li data-log="ad-sr-qy1" data-log-label="7" class="">
                            <a href="https://qiyukf.com/newdoc/html/qiyu_crm_interface.html" target="_blank" class="qyxxjr">
                                <i></i>
                                <p>企业信息接入</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrap-type">
            <div class="target">
                <div class="description">
                    <h4>客服管理</h4>
                    <p>添加客服并为其分组，完成客服 团队的组建</p>
                </div>
                <div class="list">
                    <ul>
                        <li data-log="ad-sr-qy1" data-log-label="8">
                            <a href="/admin/kefu/" class="kflb">
                                <i></i>
                                <p>客服列表</p>
                            </a>
                        </li>
                        <li data-log="ad-sr-qy1" data-log-label="9">
                            <a href="/admin/kefu/edit" class="xzkf">
                                <i></i>
                                <p>新增客服</p>
                            </a>
                        </li>
                        <li data-log="ad-sr-qy1" data-log-label="10">
                            <a href="/admin/kefu/group" class="kffz">
                                <i></i>
                                <p>客服分组</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrap-type">
            <div class="target">
                <div class="description">
                    <h4>质检与考核</h4>
                    <p>通过强大的数据统计分析，改善 客服业绩</p>
                </div>
                <div class="list">
                    <ul>
                        <li data-log="ad-sr-qy1" data-log-label="11">
                            <a href="/admin/session/" class="lshh">
                                <i></i>
                                <p>历史会话</p>
                            </a>
                        </li>
                        <li data-log="ad-sr-qy1" data-log-label="12">
                            <a href="/admin/report/" class="sjzl">
                                <i></i>
                                <p>数据总览</p>
                            </a>
                        </li>
                        <li data-log="ad-sr-qy1" data-log-label="13">
                            <a href="/admin/report/kefuList/workNums" class="kfbb">
                                <i></i>
                                <p>客服报表</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrap-type">
            <div class="target">
                <div class="description">
                    <h4>效率提升</h4>
                    <p>优化服务流程，提升工作效率</p>
                </div>
                <div class="list">
                    <ul>
                        <li data-log="ad-sr-qy1" data-log-label="14">
                            <a href="/worksheet/admin/" class="gdzx">
                                <i></i>
                                <p>工单中心</p>
                            </a>
                        </li>
                        <li data-log="ad-sr-qy1" data-log-label="15" class="">
                            <a href="/admin/setting/session" class="hhyq">
                                <i></i>
                                <p>会话邀请</p>
                            </a>
                        </li>
                        <li data-log="ad-sr-qy1" data-log-label="16">
                            <a href="/admin/setting/robotSetting" class="znjqr">
                                <i></i>
                                <p>智能机器人</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
